<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="mctsIntegrationConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%p] %d [%c] %m%n" />
        </layout>
    </appender>

   
<!--  <logger name="org.motechproject.mcts.integration.service" additivity="true">
        <level value="ERROR"/>
        <appender-ref ref="mctsIntegrationConsoleAppender" />
    </logger> -->
    
    <logger name="org.motechproject.mcts.utils" additivity="true">
        <level value="DEBUG"/>
        <appender-ref ref="mctsIntegrationConsoleAppender" />
    </logger>
    
    <logger name="org.motechproject.mcts.integration" additivity="true">
        <level value="DEBUG"/>
        <appender-ref ref="mctsIntegrationConsoleAppender" />
    </logger>


    <logger name="motech.care.data" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="mctsIntegrationConsoleAppender" />
    </logger>

<!--     <root>
        <level value="ERROR" />
        <appender-ref ref="mctsIntegrationConsoleAppender" />
    </root> -->
</log4j:configuration>